<div class="password-list">
  {{#each passwords}}
    {{> password_list_entry password=this}}
  {{/each}}
</div>
<div class="owners">
  {{ owners }}
</div>
<div class="add-password button">
  Add Password
</div>